---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<li class={className}>
  <a href="/">Inicio</a>
</li>
<li class={className}>
  <a href="#">Acerca de</a>
</li>
<li class={className}>
  <a href="#">Proyectos</a>
</li>
<li class={className}>
  <a href="#">Contacto</a>
</li>