<ul class="flex gap-4 justify-center items-center py-2 px-4 font-medium">
  <li class="hover:text-primary-400 transition-colors">
    <a href="/">Inicio</a>
  </li>
  <li class="hover:text-primary-400 transition-colors">
    <a href="#">Acerca de</a>
  </li>
  <li class="hover:text-primary-400 transition-colors">
    <a href="#">Proyectos</a>
  </li>
</ul>