---
import CloseIcon from '@icons/CloseIcon.astro'
import NavList from '@components/layout-header/NavList.astro'
---

<!-- TODO: animate dialog -->

<dialog id="nav-options-mobile" class="sm:hidden bg-primary-200 dark:bg-secondary-100 dark:text-primary-100 rounded-xl border-[1px] w-full p-7">
  <header class="flex justify-between mb-10">
    <h2>Navegación</h2>
    <button id="nav-options__close-btn">
      <CloseIcon />
    </button>
  </header>
  <ul class="flex flex-col gap-5 [&>li]:border-b-[1px] dark:[&>li]:border-secondary-50 [&>li]:pb-3">
    <NavList />
  </ul>
</dialog>

<script src="@client-scripts/mobile/nav-options"></script>
