---
import TechnologyCard from '@components/sections/experience/TechnologyCard.astro'

import PostGreSQLIcon from '@components/icons/skills/PostGreSQLIcon.astro'
import JavascriptIcon from '@components/icons/skills/JavascriptIcon.astro'
import BootstrapIcon from '@components/icons/skills/BootstrapIcon.astro'
import DjangoIcon from '@components/icons/skills/DjangoIcon.astro'
---

<div
  class="flex justify-center lg:justify-start lg:opacity-0 md:group-hover:opacity-100 gap-2 flex-wrap transition-opacity duration-300"
>
  <TechnologyCard name="Bootstrap" bgColor="#7911f7a2">
    <BootstrapIcon size={25} />
  </TechnologyCard>

  <TechnologyCard name="Javascript" bgColor="#f0da4fa2">
    <JavascriptIcon size={25} />
  </TechnologyCard>

  <TechnologyCard name="PostgreSQL" bgColor="#336791a2">
    <PostGreSQLIcon theme="dark" size={25} />
  </TechnologyCard>

  <TechnologyCard name="Django" bgColor="#336791a2">
    <DjangoIcon size={25} />
  </TechnologyCard>
</div>
