---
import Layout from '@layouts/Layout.astro'
import HeroSection from '@components/HeroSection.astro'
import LayoutHeader from '@components/LayoutHeader.astro'
import GradientBackground from '@components/GradientBackground.astro'
---

<Layout title="Welcome to Astro.">
  <LayoutHeader />
  <GradientBackground />

  <main class="flex w-full">
    <HeroSection />
  </main>
</Layout>

<script>
  import { setThemePrefrence } from '@client-scripts/theme-control'
  window.addEventListener('load', setThemePrefrence)
</script>
