---
import Layout from '@layouts/Layout.astro'
import HeroSection from '@components/HeroSection.astro'
import LayoutHeader from '@components/LayoutHeader.astro'
import GradientBackground from '@components/GradientBackground.astro'
import ArrowDownIconXL from '@components/icons/ArrowDownIconXL.astro'
import Experience from '@components/Experience.astro'
---

<Layout title="Welcome to Astro.">
  <LayoutHeader />
  <GradientBackground />

  <section class="flex flex-col w-full">
    <HeroSection />

    <button id="arrow-btn" type="button" class="text-primary-200 left-[45%] md:left-[50%] absolute bottom-2 md:bottom-10 animate-bounce hover:text-primary-500 transition-colors">
      <ArrowDownIconXL />
    </button>

    <Experience />
  </section>
</Layout>


<script src="@client-scripts/arrow-button"></script>

<script>
  import { setThemePrefrence } from '@client-scripts/theme-control'
  window.addEventListener('load', setThemePrefrence)
</script>
