---
import Layout from '@layouts/Layout.astro'
import HeroSection from '@components/HeroSection.astro'
import LayoutHeader from '@components/LayoutHeader.astro'
import GradientBackground from '@components/GradientBackground.astro'
import ArrowDownIconXL from '@components/icons/ArrowDownIconXL.astro'
---

<Layout title="Welcome to Astro.">
  <LayoutHeader />
  <GradientBackground />

  <main class="flex flex-col w-full">
    <HeroSection />

    <button type="button" class="left-[45%] md:left-[50%] absolute bottom-10 animate-bounce hover:text-primary-500 transition-colors">
      <ArrowDownIconXL />
    </button>

    <section>
      <h2 class="text-4xl font-bold leading-10">Experiencia</h2>
    </section>
  </main>
</Layout>

<script>
  import { setThemePrefrence } from '@client-scripts/theme-control'
  window.addEventListener('load', setThemePrefrence)
</script>
