---
import ArrowDownIconXL from '@components/icons/ArrowDownIconXL.astro'
---

<button
  id="arrow-btn"
  type="button"
  name="Go to Experience section"
  class="text-primary-700 dark:text-primary-200 left-[45%] md:left-[50%] absolute bottom-2 md:bottom-10 animate-bounce hover:text-primary-500 transition-colors"
>
  <ArrowDownIconXL />
</button>

<script src="@client-scripts/arrow-button"></script>
