<div id="gradient-mask" class="-z-20 absolute w-full h-full top-0 left-0">
  <div class="w-full h-full absolute">
    <canvas
      id="gradient-canvas"
      class="w-full h-full"
    ></canvas>
  </div>

  <div class="relative w-full h-full overflow-hidden">
    <div class="hidden sm:block bg-secondary-200 dark:bg-secondary-300 w-[500%] h-full rotate-[-15deg] sm:translate-y-[50%] sm:translate-x-[-30%] lg:translate-y-[55%] lg:translate-x-[-35%]">
    </div>
  </div>
</div>

<style>
  #gradient-canvas {
    --gradient-color-1: #a960ee;
    --gradient-color-2: #ff333d;
    /* --gradient-color-3: #6ec3f4;  Light theme*/
    --gradient-color-3: #281DFF;
    --gradient-color-4: #7770ff;
  }

</style>

<script> 
  import { Gradient } from '@client-scripts/gradient-background/gradient'

  const gradient = new Gradient()
  gradient.initGradient('#gradient-canvas')
</script>