---
import Name from '@components/sections/hero/Name'

import LinkedinIcon from '@icons/LindekinIcon.astro'
import GithubIcon from '@icons/GithubIcon.astro'
import MailIcon from '@icons/MailIcon.astro'

import { getEntry } from 'astro:content'

const { lang } = Astro.params
const content = await getEntry('hero', lang)
---

<section
  class="w-full h-screen justify-center md:pt-0 overflow-hidden flex flex-col gap-5 md:gap-8 md:justify-center"
>
  <header class="pb-2 overflow-hidden relative h-32 md:h-auto">
    <Name prefix={content.data.prefix} client:visible />
  </header>

  <div class="md:max-w-[50%]">
    <p
      class="text-secondary-200 text-base font-normal leading-7 md:pr-10 md:text-lg"
    >
      {content.data.description}
    </p>
  </div>

  <footer
    class="flex justify-center md:justify-normal gap-6 text-secondary-200 pb-2"
  >
    <a href="https://github.com/VictorRodas99" class="social-icons">
      <GithubIcon />
    </a>

    <a href="mailto:victormrodas99@gmail.com" class="social-icons">
      <MailIcon />
    </a>

    <a href="https://www.linkedin.com/in/victor-rodas-dev" class="social-icons">
      <LinkedinIcon />
    </a>
  </footer>
</section>

<style>
  .social-icons {
    position: relative;
  }

  .social-icons::before {
    content: '';
    position: absolute;
    bottom: -7px;
    border-radius: 5px;
    width: 0px;
    height: 5px;
    background-color: #fffdfdff;
    transition: all 0.2s ease-in-out;
  }

  .social-icons:hover::before {
    width: 42px;
  }
</style>
