---
import MoonIcon from '@icons/MoonIcon.astro'
import LanguagesIcon from '@icons/LanguagesIcon.astro'
import NavOptions from '@components/layout-header/NavOptions.astro'
import ThemeOptions from '@components/layout-header/ThemeOptions.astro'
---

<header class="fixed z-50 right-8 flex sm:top-8">
  <nav
    class="flex absolute right-0 min-w-max rounded-md border-[1px] bg-secondary-200 dark:bg-secondary-100"
  >
    <NavOptions />

    <div class="px-4 grid place-items-center border-l-[1px]">
      <button
        id="theme-button"
        class="text-primary-400 header-button"
        type="button"
        aria-label="theme selector trigger"
      >
        <MoonIcon />
      </button>
    </div>

    <ThemeOptions />

    <div class="hidden px-4 sm:grid place-items-center border-l-[1px]">
      <button
        class="text-primary-400 dark:text-primary-50 header-button"
        type="button"
        aria-label="language selector trigger"
      >
        <LanguagesIcon />
      </button>
    </div>
  </nav>
</header>

<style>
  .bouncy {
    animation: getting-smol var(--animation-duration) ease-in-out;
  }

  @keyframes getting-smol {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }
</style>

<script>
  import { animateButtons } from '@client-scripts/animations'

  animateButtons({
    selector: '.header-button',
    classTrigger: 'bouncy'
  })
</script>
