---
import Layout from '@layouts/Layout.astro'

import GradientBackground from '@components/GradientBackground'
import HeroSection from '@components/HeroSection.astro'
import ArrowButton from '@components/ArrowButton.astro'
import Experience from '@components/Experience.astro'
import Projects from '@components/Projects.astro'
import Skills from '@components/Skills.astro'
import Resume from '@components/Resume.astro'

import Animate from '@components/Animate'

export const prerender = true

export async function getStaticPaths () {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } }
  ]
}

const { lang } = Astro.params
---

<Layout title="Víctor Rodas" lang={lang}>
  <GradientBackground client:visible />

  <section class="flex flex-col w-full gap-16">
    <Animate client:load>
      <HeroSection />
    </Animate>

    <ArrowButton />
    <Resume />

    <Experience />

    <Animate client:visible>
      <Projects />
    </Animate>

    <Animate client:visible>
      <Skills />
    </Animate>
  </section>
</Layout>
