---
import ThemeOptions from '@components/sections/layout-header/ThemeOptions.astro'
import NavOptions from '@components/sections/layout-header/NavOptions.astro'
import LanguageSwitcher from '@components/sections/layout-header/LanguageSwitcher.astro'

import MoonIcon from '@icons/MoonIcon.astro'
---

<header class="fixed z-50 right-8 flex top-8">
  <nav
    class="flex absolute right-0 min-w-max rounded-md bg-secondary-200 dark:bg-secondary-100"
  >
    <NavOptions />

    <div class="px-4 grid place-items-center border-l-2 border-secondary-50/5 dark:border-secondary-50">
      <button
        id="theme-button"
        class="text-primary-400 header-button"
        type="button"
        aria-label="theme selector trigger"
      >
        <MoonIcon />
      </button>
    </div>

    <ThemeOptions />
    <LanguageSwitcher />
  </nav>
</header>

<style>
  .bouncy {
    animation: getting-smol var(--animation-duration) ease-in-out;
  }

  @keyframes getting-smol {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }
</style>

<script>
  import { animateButtons } from '@client-scripts/animations'

  animateButtons({
    selector: '.header-button',
    classTrigger: 'bouncy'
  })
</script>
